.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.options-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

img{
    height: 100px;
    
}

.text-main{
display: flex;
justify-content: center;
margin-bottom: 30px;
}

.text-container{
    text-align: center;
    width: 300px;
}