<router-outlet></router-outlet>

<!--<nav>
  <a routerLink="/login">Login</a>
  <a routerLink="/game">Game</a>
  <a routerLink="/score">Scoreboard</a>
</nav>

<button (click)="routeToUrl('login')">Login</button>
<button (click)="routeToUrl('game')">Game</button>
<button (click)="routeToUrl('score')">Scoreboard</button>

<app-answer-button [answer]="respuesta" (buttonSelected)="respuestaSeleccionada($event)" ></app-answer-button>

<div class="miclase">
  <input type="text"[(ngModel)]="mivariable">
</div>

<div *ngIf="mivariable=='Hola'">
  {{mivariable}}
</div>

<button (click)="addName()">Agregar</button>

<ul>
  <li *ngFor="let name of names; index as i">
    {{name}} {{i}}
    <button (click)="removeName(i)">Eliminar</button>
  </li>
</ul>-->
