.button-container{
    color: white;
    background-color: #2d50c0;
    width: 300px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}